In [ ]:
1.
(1)a = "pwskills"
(2)a = ["a",1.2.4,"kowshik"]
(3)a = 23.5
(4)a = (1,2,3,3.5)

In [ ]:
Q2

In [ ]:

(1) srting
(2) string
(3) list
(4) int

In [ ]:
Q3

In [6]:

a=int(input("enter a value:"))
b=int(input("enter b values:"))
print(a*b)
print(a%b)
print(a//b)
print(a**b)

enter a value:2
enter b values:3
6
2
0
8

In [ ]:
Q4

In [2]:
a=[1,2,3,"kowshik",3.4,5.6,"a",45,6.7,"hi"]
for i in a:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
kowshik <class 'str'>
3.4 <class 'float'>
5.6 <class 'float'>
a <class 'str'>
45 <class 'int'>
6.7 <class 'float'>
hi <class 'str'>

In [ ]:
Q5

In [3]:
a=int(input("enter a:"))
b=int(input("enter b:"))
while True:
    if a%b==0:
        c=a/b
        print("a is purley divisible by b")
        print(f"number of times a divisible by b is :{c}" )
        break
    else:
        print("a is not purley divisible by b")
        break

enter a:10
enter b:2
a is purley divisible by b
number of times a divisible by b is :5.0

Q6

In [4]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
10 not divisible by 3
11 not divisible by 3
12 divisible by 3
13 not divisible by 3
14 not divisible by 3
15 divisible by 3
16 not divisible by 3
17 not divisible by 3
18 divisible by 3
19 not divisible by 3
20 not divisible by 3
21 divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
25 not divisible by 3

In [ ]:
Q7

In [ ]:
MUTABLE: Mutable data types can be changed after they are created.
eg:
    Lists
    Dictionaries
    Sets
    Tuples
IMMUTABLE:immutable data types that cannot be changed after they are created.
eg:
    Numbers
    Strings
    Booleans
    Bytes