In [ ]:
Q1

In [ ]:
database:
=>A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, updating, and manipulation of that data.
=> Databases are used to store a wide variety of information, ranging from simple lists to complex relationships and structures.
There are two main categories of databases: 
(1)SQL
(2)NOSQL
SQL(structure query language): SQL databases are relational databases that use structured schemas to define the relationships and constraints between data tables. Data is stored in rows and columns, with predefined data types for each column.
=>SQL databases use the Structured Query Language (SQL) for defining, querying, and manipulating data.
=>SQL databases are well-suited for applications with well-defined data structures, complex relationships, and a need for data integrity, such as financial systems, e-commerce platforms, and content management systems.

NOSQL(not Structured Query Language): NoSQL databases are designed to handle unstructured or semi-structured data and are not tied to a fixed schema. They can store various types of data, including key-value, document, column-family, and graph data.
=>While some NoSQL databases have query languages, they don't strictly rely on SQL. Different NoSQL databases have different querying mechanisms optimized for their specific data models.
=>NoSQL databases are commonly used in applications requiring massive scalability, high throughput, and flexible schema, such as real-time analytics, social media platforms, IoT applications, and content recommendation systems.

In [ ]:
Q2

In [ ]:
Data Definition Language(DDL):It is a subset of SQL that is used to define, modify, and manage the structure of a database. DDL statements are used to create, alter, and drop database objects such as tables, indexes, and views. These statements are used to define the schema of the database, specifying how the data is organized and how different data elements are related to each other.

CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, or views. It defines the structure of the object and any constraints associated with it.
eg:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name  VARCHAR(50),
    Salary DECIMAL(10, 2)
);

DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, or views. This operation permanently removes the object and its data from the database.
eg:

DROP TABLE Employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, as well as to change constraints or indexes.
eg:

ALTER TABLE Employees
ADD Department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while retaining the table structure. It is faster than the DELETE statement, as it doesn't log individual row deletions.
eg:

TRUNCATE TABLE Employees;

In [ ]:
Q3

In [ ]:
Data Manipulation Language(DML): which is a subset of SQL used to manipulate data stored in a database. DML statements are responsible for inserting, updating, and deleting data within database tables. Unlike DDL (Data Definition Language), which focuses on defining and altering the structure of the database, DML focuses on interacting with the actual data stored in the tables.

INSERT: The INSERT statement is used to add new records (rows) into a table. You provide the values to be inserted into the columns of the table.
eg:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary, Department)
VALUES (1, 'John', 'Doe', 50000, 'Sales');

UPDATE: The UPDATE statement is used to modify existing records in a table. You specify which rows to update and set new values for the columns.
eg:

UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;

DELETE: The DELETE statement is used to remove specific records from a table based on certain conditions.
eg:

DELETE FROM Employees
WHERE EmployeeID = 1;

In [ ]:
Q4

In [2]:
Data Query Language(DQL):which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is primarily concerned with querying and fetching data from one or more tables, allowing you to specify the conditions, sorting, and formatting of the retrieved data. 

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, as well as filtering conditions, sorting, and grouping.
eg:

SELECT FirstName, LastName, Salary
FROM Employees
WHERE Department = 'Sales' AND Salary > 50000;

In [ ]:
Q5

In [ ]:
Primary Key:
A primary key is a unique identifier for a record (row) in a database table. It ensures that each record within the table is distinct and can be uniquely identified. In simpler terms, it's like an ID or a fingerprint for each row in the table. The primary key is used to enforce data integrity, facilitate efficient searches, and create relationships between tables.

Key characteristics of a primary key:
=>Uniqueness: Each value in the primary key column must be unique. No two rows can have the same primary key value.

=>Non-null: A primary key value cannot be null.

=>Stability: Ideally, the primary key value should be stable, meaning it doesn't change over time. This is to ensure consistency in references across tables.

Foreign Key:
A foreign key establishes a relationship between two tables in a database. It links a column or set of columns in one table to the primary key column(s) of another table. This relationship is used to maintain referential integrity and to enforce data integrity rules.

Key characteristics of a foreign key:

=>References a Primary Key: The foreign key column(s) in one table reference the primary key column(s) in another table.

=>Maintains Referential Integrity: This means that the values in the foreign key column(s) must match the values in the primary key column(s) of the referenced table, or be null.

=>Allows Relationships: Foreign keys create relationships between tables, representing dependencies or associations.

In [ ]:
Q6

In [ ]:
import mysql.connector
db_config = {
    "host": "localhost",
    "user": "abc",
    "password": "password",
    "database": "your_database"
}
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()
query = "SELECT * FROM customers"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
cursor.close()
connection.close()

In [ ]:
Q7

In [ ]:
FROM: This clause specifies the source tables from which the data will be retrieved. It identifies the tables involved in the query.

JOIN: If there are any join operations, they are performed next. This combines data from multiple tables based on specified join conditions.

WHERE: The WHERE clause filters rows from the source tables based on specified conditions. Only rows that satisfy the conditions are retained for further processing.

GROUP BY: If a GROUP BY clause is present, the rows are grouped based on the specified columns. This is often used with aggregate functions like SUM, COUNT, etc., to perform calculations on groups of rows.

HAVING: If a HAVING clause is present, it filters the grouped rows based on aggregate function results. It's similar to the WHERE clause but operates on grouped data.

SELECT: The SELECT clause determines which columns will be included in the result set. It specifies the columns to be retrieved from the source tables.

DISTINCT: If the DISTINCT keyword is used, duplicate rows are removed from the result set.

ORDER BY: The ORDER BY clause sorts the result set based on specified columns and sorting directions.