In [ ]:
Q1

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2

In [4]:
import pandas as pd

list1= [1,2,3,4,5,6,7,8,9,10]

series = pd.Series(list1)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3

In [5]:
import pandas as pd
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4

In [ ]:
DataFrame:

A DataFrame is a two-dimensional, tabular data structure resembling a spreadsheet or SQL table. It consists of rows and columns, where each column can contain different types of data.
Think of a DataFrame as a collection of Pandas Series objects, where each column is a Series with a common index.
It is suitable for handling structured data, such as datasets imported from CSV files or database tables.
Example:
import pandas as pd
list1= [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list1)
print(series)


Series:
A Series is a one-dimensional labeled array capable of holding data of a single data type.
A Series is essentially a column or a single variable. It is often used to represent a single feature or attribute of your data.
You can think of a Series as a single column of a DataFrame.
Example:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

In [ ]:
Q5

In [ ]:
Filtering Data:DataFrame[df['column'] > value]: You can filter rows based on a condition, such as selecting rows where a specific column's values meet certain criteria.
Example:       
filtered_df = df[df['Age'] > 25]

Selecting Columns:

DataFrame[['column1', 'column2']]: You can select specific columns from a DataFrame to create a new DataFrame containing only those columns.
Example:
selected_columns= df[['Name', 'Age']]

Sorting Data:DataFrame.sort_values(by='column', ascending=False): You can sort the DataFrame by one or more columns in ascending or descending order.
Example:
sorted = df.sort_values(by='Age', ascending=False)

Grouping and Aggregation:DataFrame.groupby('column').agg({'other_column': 'function'}): You can group data by one or more columns and perform aggregation functions like sum, mean, count, etc., on other columns.
Example:
grouped = df.groupby('Gender').agg({'Age': 'mean'})

In [ ]:
Q6

In [ ]:
Series: Series objects are immutable, meaning once you create a Series, you cannot change its elements directly. You need to create a new Series or modify it indirectly through operations.

DataFrame: DataFrames are mutable, allowing you to modify the data, add new columns, or remove columns. You can use various DataFrame methods and operations to make changes to the data.

Panel: Panels were a data structure in earlier versions of Pandas for handling 3D data. However, they have been removed in more recent versions, and users are encouraged to use MultiIndex DataFrames or other data structures to handle similar data.

In [ ]:
Q7

In [6]:
import pandas as pd
name_series = pd.Series(['kowshik', 'uma', 'teju'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Male', 'Male', 'Female'])
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0  kowshik   25    Male
1      uma   30    Male
2     teju   27  Female