In [ ]:
Q1

In [4]:
import pandas as pd
df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.tail(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
df["SepalWidthCm"]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [13]:
df.dtypes[df.dtypes=="object"]

Species    object
dtype: object

In [ ]:
Q2

In [23]:

import pandas as pd

def reindex(df):
    new_index = 2 * (df.index + 1)
    
    return new_df
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)
new_df = reindex(df)
print(new_df)

    A   B   C
2  10  40  70
4  20  50  80
6  30  60  90

In [ ]:
Q3

In [36]:
import pandas as pd
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def calculate_sum_of_first_three(df):
    sum_of_first_three = 0
    for index, value in enumerate(df['Values']):
        if index < 3:
            sum_of_first_three += value
        else:
            break
    print("Sum of the first three values:", sum_of_first_three)
calculate_sum_of_first_three(df)

Sum of the first three values: 60

In [ ]:
Q4

In [8]:
import pandas as pd
data={"name":["kowshik","hari","uma"]}
df=pd.DataFrame(data)

df["lenght"]=df["name"].apply(len)
print(df)

      name  lenght
0  kowshik       7
1     hari       4
2      uma       3

In [ ]:
Q5

In [3]:
#DataFrame.size:DataFrame.size is an attribute that returns the total number of elements in a DataFrame, which is equal to the product of the number of rows and the number of columns.

#It gives you a single integer value representing the total number of data points or cells in the DataFrame.

#You can access it as follows: df.size where df is your DataFrame object.

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

size = df.size  
print(size)

#DataFrame.shape:DataFrame.shape is an attribute that returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the number of columns.

#It provides a more detailed breakdown of the DataFrame's structure compared to DataFrame.size.

#You can access it as follows: df.shape where df is your DataFrame object.

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

shape = df.shape  
print(df)
print(shape)

6
   A  B
0  1  4
1  2  5
2  3  6
(3, 2)

In [ ]:
Q6

In [ ]:
import pandas as pd
df=pd.read_excel("excel name")

In [ ]:
Q7

In [20]:
import pandas as pd
data={"Email":["kowshik@gmail.com","umasai@gmail.com"]}
df=pd.DataFrame(data)
def extract_username(data):
    return data.split('@')[0]

df['Username'] = df['Email'].apply(extract_username)

print(df)

               Email Username
0  kowshik@gmail.com  kowshik
1   umasai@gmail.com   umasai

In [ ]:
Q8

In [23]:
import pandas as pd
data = {'A': [3, 7, 6, 2, 8],
        'B': [9, 4, 11, 3, 5],
        'C': [15, 20, 8, 10, 12]}

df = pd.DataFrame(data)
def select_rows(df):
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
selected_df = select_rows(df)
print(selected_df)

   A  B   C
1  7  4  20
4  8  5  12

In [ ]:
Q9

In [24]:
import pandas as pd
data = {'Values': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)
def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    return mean_value, median_value, std_deviation
mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 20.0
Median: 20.0
Standard Deviation: 7.905694150420948

In [ ]:
Q10

In [25]:
import pandas as pd

data = {'Date': pd.date_range(start='2023-01-01', periods=30, freq='D'),
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155]}
df = pd.DataFrame(data)
def calculate_moving_average(df, window_size=7):
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df
df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     15           12.5
2  2023-01-03     20           15.0
3  2023-01-04     25           17.5
4  2023-01-05     30           20.0
5  2023-01-06     35           22.5
6  2023-01-07     40           25.0
7  2023-01-08     45           30.0
8  2023-01-09     50           35.0
9  2023-01-10     55           40.0
10 2023-01-11     60           45.0
11 2023-01-12     65           50.0
12 2023-01-13     70           55.0
13 2023-01-14     75           60.0
14 2023-01-15     80           65.0
15 2023-01-16     85           70.0
16 2023-01-17     90           75.0
17 2023-01-18     95           80.0
18 2023-01-19    100           85.0
19 2023-01-20    105           90.0
20 2023-01-21    110           95.0
21 2023-01-22    115          100.0
22 2023-01-23    120          105.0
23 2023-01-24    125          110.0
24 2023-01-25    130          115.0
25 2023-01-26    135          120.0
26 2023-01-27    140          125.0
27 2023-01-28    145          130.0
28 2023-01-29    150          135.0
29 2023-01-30    155          140.0

In [ ]:
Q11

In [26]:
import pandas as pd
data = {'Date': pd.date_range(start='2023-09-01', periods=5, freq='D')}
df = pd.DataFrame(data)
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df
df = add_weekday_column(df)
print(df)

        Date   Weekday
0 2023-09-01    Friday
1 2023-09-02  Saturday
2 2023-09-03    Sunday
3 2023-09-04    Monday
4 2023-09-05   Tuesday

In [ ]:
Q12

In [27]:
import pandas as pd
data = {'Date': pd.date_range(start='2023-01-01', end='2023-01-31')}
df = pd.DataFrame(data)
def select_rows_in_date_range(df, start_date, end_date):
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows
selected_df = select_rows_in_date_range(df, '2023-01-01', '2023-01-31')
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
Q13

In [ ]:
To use the basic functions of pandas, the first and foremost library you need to import is, of course, the pandas library itself.

This convention imports the pandas library and assigns it the alias 'pd'. The alias 'pd' is commonly used in the Python data science community when working with pandas to make code shorter and more readable. After importing pandas, you can access its functions and classes to work with data in tabular form using DataFrames and Series.

import pandas as pd.