In [ ]:
Q1

In [7]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
print(df)
df.iloc[2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

course_name    Big Data
duration              6
Name: 2, dtype: object

In [ ]:
Q2

In [ ]:
loc:
It is label-based indexing, which means you use labels (row and column names) to select data.
You specify the row and column labels explicitly.
Inclusive on both ends (i.e., it includes the start and stop labels).
Example: df.loc[row_label, column_label]
df.loc[0, 'column_name']  

iloc:
It is integer-based indexing, which means you use integer positions (integer row and column indices) to select data.
You specify the row and column indices as integers.
Exclusive on the stop end (i.e., it includes the start index but excludes the stop index).
Example: df.iloc[row_index, column_index]
df.iloc[0, 1]

In [ ]:
Q3

In [9]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df)
output_loc = new_df.loc[2]
print("\nOutput for new_df.loc[2]:")
print(output_loc)

# Output for new_df.iloc[2]
output_iloc = new_df.iloc[2]
print("\nOutput for new_df.iloc[2]:")
print(output_iloc)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Q4

In [15]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
column_means = df1.mean()
print("Mean of each column:")
print(column_means)
std_dev_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_dev_column_2)

Mean of each column:
column_1    0.489386
column_2    0.530046
column_3    0.414738
column_4    0.584742
column_5    0.598683
column_6    0.678245
dtype: float64

Standard deviation of 'column_2':
0.35218771095494267

In [ ]:
Q5

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
df1.loc[2, 'column_2'] = 'String Data'
try:
    column_2_mean = df1['column_2'].mean()
    print("Mean of 'column_2':", column_2_mean)
except TypeError as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Q6

In [17]:
''''Rolling Window: A rolling window is a fixed-size subset of the data that moves or "rolls" through the dataset one step at a time. You can specify the window size and the rolling step, which allows you to control how the window moves through the data.

Aggregation and Transformation: Window functions can be used for both aggregation and transformation of data. Aggregation functions, like mean, sum, or count, calculate summary statistics over the window. Transformation functions can modify the data within the window, such as applying custom functions or smoothing data.

Types of Window Functions: There are various types of window functions available in pandas, including:

Aggregation Functions: These functions compute a single aggregated value for each window. Some common aggregation functions include:

mean(): Calculates the mean (average) of values in the window.
sum(): Computes the sum of values in the window.
max(): Finds the maximum value in the window.
min(): Finds the minimum value in the window.
count(): Counts the number of non-null values in the window.

Expanding Functions: These functions consider all data points from the start of the data up to the current position. Some examples include cumsum() (cumulative sum) and cumprod() (cumulative product).

Exponential Moving Average (EMA): A specialized type of rolling window function that assigns exponentially decreasing weights to older data points, giving more weight to recent data. Useful for smoothing time series data.

Quantile and Rank-based Functions: These functions calculate quantiles (e.g., median, quartiles) and rank-based statistics within the window.'''
import pandas as pd
import numpy as np
data = pd.Series(np.random.randn(10), index=pd.date_range(start='2023-01-01', periods=10, freq='D'))
sma = data.rolling(window=3).mean()
print("Original Data:")
print(data)
print("\n3-Day Simple Moving Average:")
print(sma)

Original Data:
2023-01-01   -0.366740
2023-01-02   -0.109041
2023-01-03    0.906380
2023-01-04   -0.215070
2023-01-05    0.026354
2023-01-06    0.203718
2023-01-07   -0.443437
2023-01-08   -0.085473
2023-01-09   -0.938335
2023-01-10   -0.622215
Freq: D, dtype: float64

3-Day Simple Moving Average:
2023-01-01         NaN
2023-01-02         NaN
2023-01-03    0.143533
2023-01-04    0.194090
2023-01-05    0.239221
2023-01-06    0.005001
2023-01-07   -0.071122
2023-01-08   -0.108397
2023-01-09   -0.489082
2023-01-10   -0.548674
Freq: D, dtype: float64

In [ ]:
Q7

In [18]:
import pandas as pd
from datetime import datetime
current_datetime = datetime.now()
current_month = current_datetime.month
current_year = current_datetime.year
current_date = pd.to_datetime(f"{current_year}-{current_month:02d}-01")
print("Current Month and Year:", current_date.strftime('%B %Y'))

Current Month and Year: September 2023

In [ ]:
Q8

In [19]:
import pandas as pd
def get_valid_date_input(prompt):
    while True:
        try:
            date_input = input(prompt)
            date = pd.to_datetime(date_input)
            return date
        except ValueError:
            print("Invalid date format. Please enter a date in YYYY-MM-DD format.")

print("Enter the first date (YYYY-MM-DD):")
date1 = get_valid_date_input("Date 1: ")

print("\nEnter the second date (YYYY-MM-DD):")
date2 = get_valid_date_input("Date 2: ")
time_difference = date2 - date1

days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)

# Display the result
print("\nTime Difference:")
print(f"Days: {days} days")
print(f"Hours: {hours} hours")
print(f"Minutes: {minutes} minutes")

Enter the first date (YYYY-MM-DD):
Date 1: 2023-07-22

Enter the second date (YYYY-MM-DD):
Date 2: 2023-07-24

Time Difference:
Days: 2 days
Hours: 0 hours
Minutes: 0 minutes

In [ ]:
Q9

In [20]:
import pandas as pd
def convert_to_categorical(file_path, column_name, category_order):
    df = pd.read_csv(file_path)
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    sorted_df = df.sort_values(by=column_name)
    
    return sorted_df
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_str = input("Enter the category order (comma-separated, e.g., 'Low,Medium,High'): ")
category_order = category_order_str.split(',')
sorted_data = convert_to_categorical(file_path, column_name, category_order)
print("\nSorted Data:")
print(sorted_data)

Enter the CSV file path: Iris.csv
Enter the column name to convert to categorical: SepalLengthCm
Enter the category order (comma-separated, e.g., 'Low,Medium,High'): High

Sorted Data:
      Id SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1           NaN           3.5            1.4           0.2
1      2           NaN           3.0            1.4           0.2
2      3           NaN           3.2            1.3           0.2
3      4           NaN           3.1            1.5           0.2
4      5           NaN           3.6            1.4           0.2
..   ...           ...           ...            ...           ...
145  146           NaN           3.0            5.2           2.3
146  147           NaN           2.5            5.0           1.9
147  148           NaN           3.0            5.2           2.0
148  149           NaN           3.4            5.4           2.3
149  150           NaN           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
Q10

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
def visualize_sales_data(file_path):
    df = pd.read_csv(file_path)
    df['Date'] = pd.to_datetime(df['Date'])
    pivot_df = df.pivot(index='Date', columns='ProductCategory', values='Sales').fillna(0)
    ax = pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
    plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    plt.show()
file_path = input("Enter the CSV file path containing sales data: ")
visualize_sales_data(file_path)

In [ ]:
Q11

In [ ]:
import pandas as pd
file_path = input("Enter the file path of the CSV file containing student data: ")
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit()
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode().tolist()
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})

print(result_table.to_string(index=False))